# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Projet1/.vs/

Projet1/obj/

*.user

3C4_Cours02/bin/

3C4_Cours02/obj/

3C4_Cours02/.vs/

.vs/

Projet1/bin/

Cours01/bin/

Cours01/obj/

Cours01/Projet1/bin/

Cours01/Projet1/obj/

3C4_Cours02/3C4_Cours02/bin/

3C4_Cours02/3C4_Cours02/obj/

Cours03/bin/

Cours03/Cours01/bin/

Cours03/Cours01/obj/

Exercice03/bin/

Exercice03/obj/

Cours03/obj/
